@use '../abstracts/variables' as *;

.field {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    & + & {
      margin-top: 15px;
    }
  }

  &__input {
    width: 100%;
    padding: 7px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $blueColor;
    
    font-size: 13px;
    line-height: 13px;
    color: $darkColor;

    &:disabled {
      background-color: $whiteColor;
      border-color: $grayBorderColor;

      color: $grayTextColor;
      text-align: right;
    }

    &::placeholder {
      color: transparent;
    }
  }

  &__label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    color: $grayTextColor;

    transition: 0.5s;

    &_disabled {
      font-size: 13px !important;
      transform: translateY(0) !important;
      color: $darkColor;
    }
  }

  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label {
    transform: translateY(-16px);
    font-size: 9px;
  }

  &__error {
    margin-top: 7px;

    color: $errorColor;
    font-size: 8px;
    font-weight: 400;
  }

}
