@use '../../styles/abstracts/variables' as *;

.list {
  &__wrapper {
    list-style: none;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: visible;
  }

  &__item {
    padding: 2px 0;
    border-bottom: 1px solid $grayBorderColor;

    &:first-child {
      border-top: 1px solid $grayBorderColor;
    }
  }
}

.chat-preview {
  &__wrapper {
    display: flex;
    margin: 0 -10px;
    padding: 10px;
    height: 70px;

    cursor: pointer;

    &:hover {
      background-color: $blueHoverColor;
    }

    &_active {
      background-color: $lightBlueColor;

      &:hover {
        background-color: $lightBlueColor;
      }
    }
  }

  &__avatar {
    width: 47px;
    height: 47px;

    margin-right: 10px;
  }

  &__body {
    flex-grow: 1;
  }

  &__header {
    display: flex;
    margin-bottom: 5px;
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: $darkColor;
  }

  &__timestamp {
    margin-left: auto;

    font-size: 9px;
    line-height: 13px;
    color: $grayTextColor;
  }

  &__content {
    display: flex;
  }

  &__last-message {
    width: 195px;
    height: 30px;
    
    font-size: 12px;
    line-height: 15px;
    color: $grayTextColor;
  }

  &__unread-counter {
    margin-left: auto;
    align-self: flex-end;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $blueColor;

    font-size: 11px;
    line-height: 12px;
    color: $whiteColor;
  }
}
