$darkColor: #1e1e1e;
$blueColor: #3369f3;
$darkBlueColor: #2047aa;
$blueHoverColor: #e4edfd66;
$lightBlueColor: #e4edfd;
$messageBackground: #f8f8f8;
$yourMessageBackground: #e4edfd;
$grayTextColor: #999;
$grayBackgroundColor: #efefef;
$lightGrayBackgroundColor: #fbfbfb;
$lightGrayBackgroundHoverColor: #efefefb3;
$grayBorderColor: #eaeaea;
$toolbarBackgroundColor: #f5f5f5f5;
$redColor: #f00;
$errorColor: #ff2f2f;
$whiteColor: #fff;
$blackColor: #000;
