$darkColor: #1E1E1E;
$blueColor: #3369F3;
$blueHoverColor: #e4edfd66;;
$lightBlueColor: #E4EDFD;
$grayTextColor: #999999;
$grayBackgroundColor: #EFEFEF;
$lightGrayBackgroundColor: #FBFBFB;
$lightGrayBackgroundHoverColor: #efefefb3;
$grayBorderColor: #EAEAEA;
$redColor: #FF0000;
$errorColor: #FF2F2F;
$whiteColor: #ffffff;
$blackColor: #000000;;