@import '../../styles/variables.scss';

.profile {
  &__wrapper {
    height: 100vh;
    display: flex;
  }

  &__back-link {
    position: absolute;

    height: 100%;
    width: 65px;
    background-color: $lightGrayBackgroundColor;
    border-right: 1px solid $grayBorderColor;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $lightGrayBackgroundHoverColor;
    }
  }

  &__back-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $blueColor;

    color: $whiteColor;
  }

  &__content {
    width: 510px;
    margin: 0 auto;
    padding: 60px 0;;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    position: relative;

    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $grayBackgroundColor;

    margin-bottom: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: #cdcdcd;
    cursor: pointer;

    &:hover {
      &::before {
        position: absolute;

        content: 'Поменять аватар';
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: $blackColor;
        opacity: 0.5;

        color: $whiteColor;
        text-align: center;
        font-size: 13px;
        line-height: 130px;
      }
    }
  }

  &__name {
    margin-bottom: 60px;

    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }

  &__data-form {
    width: 100%;
    height: 360px;
  }

  &__actions {
    margin-top: 60px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__action {
    width: 100%;
    padding: 10px 0;

    font-size: 13px;
    line-height: 13px;
    color: $blueColor;

    cursor: pointer;

    & + & {
      border-top: 1px solid $grayBorderColor
    }

    &_exit {
      color: $redColor;
    }
  }
}