---
title: Register
---

{{!< main}}

<main class="register__wrapper">
  <div class="register__card">
    <h1 class="register__title">
      Регистрация
    </h1>

    <form name="registerForm" class="register__form">
      {{> field type="email" name="email" label="Почта" errorMessage=errors.email }}

      {{> field type="text" name="login" label="Логин" errorMessage=errors.login }}

      {{> field type="text" name="first_name" label="Имя" errorMessage=errors.first_name }}

      {{> field type="text" name="second_name" label="Фамилия" errorMessage=errors.second_name }}

      {{> field type="tel" name="phone" label="Телефон" errorMessage=errors.phone }}

      {{> field type="password" name="password" label="Пароль" errorMessage=errors.password }}

      {{> field type="password" name="password_repeat" label="Пароль (еще раз)" errorMessage=errors.password_repeat }}

      <div class="register__actions">
        {{> button type="submit" text="Зарегистрироваться" }}

        <a href="./login.hbs" class="link">Войти</a>
      </div>
    </form>
  </div>
</main>