@use 'styles/abstracts/variables' as *;

.field {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    & + & {
      margin-top: 15px;
    }
  }

  &__label {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 15px;
    color: $grayTextColor;

    transition: 0.5s;

    &_disabled {
      font-size: 13px !important;
      transform: translateY(0) !important;
      color: $darkColor;
    }
  }
}

.file-field {
  &__label {
    display: inline-flex;
    
    color: $blueColor;
    font-size: 12px;
    line-height: 16px;
    text-decoration: underline;
    text-align: center;
    width: 110px;
    cursor: pointer;
  }

  &__name {
    display: inline-flex;

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $grayTextColor;
  }

  &__input {
    display: none;
    background-color: transparent;
    border: none;
  }
}
