@use 'styles/abstracts/variables' as *;

.chats {
  &__wrapper {
    display: flex;
    height: 100vh;
  }
}

.aside {
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
    background-color: $lightGrayBackgroundColor;
    border-right: 1px solid $grayBorderColor;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 15px;
  }

  &__create-chat-btn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: $grayTextColor;
    background-color: $grayBackgroundColor;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__profile-link {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 12px;
    color: $grayTextColor;

    padding-right: 12px;

    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      top: 50%;
      right: 0;

      width: 4px;
      height: 4px;
      border: 1px solid $grayTextColor;
      border-left: transparent;
      border-top: transparent;

      transform: rotate(-45deg) translateY(-50%);
    }
  }

  &__search-field {
    width: 100%;
    margin-top: 25px;
  }
}

.chat-modify-modal {
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__button {
    margin-top: auto;
  }
}

.main {
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 10px 20px;
  }
  
  &__empty-message {
    font-size: 12px;
    color: $grayTextColor;
    margin: auto;
  }

  &__header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $grayBorderColor;
  }

  &__avatar {
    margin-right: 10px;

    width: 34px;
    height: 34px;
  }

  &__name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: $darkColor;
  }

  &__actions {
    margin-left: auto;
  }

  &__date {
    align-self: center;
    margin: 30px 0;

    font-size: 12px;
    line-height: 12px;
    color: $grayTextColor;
  }

  &__new-message-box {
    display: flex;
    align-items: center;

    padding-top: 10px;
    border-top: 1px solid $grayBorderColor;
  }

  &__attachment {
    margin-right: 10px;
  }

  &__send-btn {
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $blueColor;

    color: $whiteColor;
  }
}

.message-field {
  &__wrapper {
    position: relative;
    flex-grow: 1;

    font-size: 12px;
    line-height: 12px;
  }

  &__input {
    height: 32px;
    width: 100%;

    padding: 10px 20px;
    border: none;
    border-radius: 30px;

    background: $grayBackgroundColor;
    color: $darkColor;
    
    &::placeholder {
      color: transparent;
    }
  }

  &__label {
    pointer-events: none;
    position: absolute;
    padding: 10px 20px;
    left: 0;
    
    color: $grayTextColor;
  }

  &__input:focus ~ &__label,
  &__input:not(:placeholder-shown) ~ &__label {
    display: none;
  }
}
