<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/81446a93bb.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/src/styles/index.scss">
  <meta charset="utf-8" />
    {{#each css}}
      <link rel="stylesheet" href="./{{this}}">
    {{/each}}
  <title>
    {{title}}
  </title>
</head>
<body>
  {{{body}}}
</body>
</html>