---
title: Error Page
code: 500
text: Мы уже фиксим
css:
  - style.scss
---

{{!< main}}

<div class="error-page__wrapper">
  <h1 class="error-page__code">{{code}}</h1>
  <span class="error-page__text">{{text}}</span>
  <a href="../chats/chats.hbs" class="link">Назад к чатам</a>
</div>